*.idea
*.vscode
*.ipynb_checkpoints
*.DS_Store
*.eggs
*.pytest_cache
*.mypy_cache
*.csv
*.egg-info
*.sqlite3
*.pyc

__pycache__
Pipfile
Pipfile.lock

build
results
result
notebooks
client_work
monkeytype
*venv
*external_data

simulations/tickets
simulations/validation
*poc/
*poc_configs/

*notes.*
*announcement.md
*dist.py