.ipynb_checkpoints
.DS_Store
.idea
notebooks/.ipynb_checkpoints
notebooks/multithreading.ipynb
SimCAD.egg-info
__pycache__
Pipfile
Pipfile.lock
results
.mypy_cache
notebooks
simulations/validation/base_config1.py
simulations/validation/base_config2.py
simulations/validation/config_1.py
simulations/validation/config_2.py
simulations/barlin
simulations/scrapbox
simulations/zx