.idea
.ipynb_checkpoints
.DS_Store
.idea
notebooks
SimCAD.egg-info
__pycache__
Pipfile
Pipfile.lock
results
.mypy_cache
*.csv
*.txt
simulations/.ipynb_checkpoints
dist/*.gz
cadCAD.egg-info

build
cadCAD.egg-info
SimCAD.egg-info
