-i https://pypi.org/simple

matplotlib==3.3.2
networkx==2.5
parameterized==0.7.4
plotly==4.10.0
pytest==6.0.2
scikit-learn==0.23.2
scipy>=1.5.2
seaborn==0.11.0
tabulate==0.8.7
xarray==0.16.0
wheel==0.36.2
pandas==1.1.5
fn==0.4.3
funcy==1.16
dill==0.3.4
pathos==0.2.8
numpy==1.19.5
pytz==2021.1
six>=1.11.0